
<body>

  <div class="container-fluid">
    <div class="row">
     
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
                <a [routerLink]="['/ListRecettes']">
                Mes recettes
              </a>

             

            </li>
            <li class="nav-item">
                <a [routerLink]="['/EditUser']">
              Profil
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Déconnexion
              </a>
            </li>
          </ul>
        </div>
      </nav>

   
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
       
        <h2>Contenu Principal</h2>
      </main>
    </div>
  </div>

 
</body>

