<section>
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white shadow" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <div class="card-img-top rounded-circle mx-auto" style="width: 100px; height: 100px; overflow: hidden; background-color: #f8f9fa; display: flex; align-items: center; justify-content: center;">
                  <i class="fas fa-user" style="font-size: 48px; color: #495057;"></i>
                </div>
                <button class="btn btn-success btn-lg me-2" (click)="loadData()">load</button>
                <div *ngIf="session">
                  <p class="text-white-50"><strong>Username:</strong> {{ session.nom }}</p>
                  <p class="text-white-50"><strong>Email:</strong> {{ session.email }}</p>
                  <button class="btn btn-outline-light btn-lg px-5" (click)="toggleEditMode()">Edit Profile</button>
                </div>
                <div *ngIf="isEditMode">
                  <label for="username" class="form-label">Username: </label>
                  <input type="text" id="username" [(ngModel)]="session.nom" class="form-control mb-3" />
                  <label for="email" class="form-label">Email: </label>
                  <input type="email" id="email" [(ngModel)]="session.email" class="form-control mb-3" />
                 <!-- <label for="motdepasse" class="form-label">Mot de passe: </label>
                  <input type="password" id="motdepasse" [(ngModel)]="session.motdepasse" class="form-control mb-3" /> -->
                  <button class="btn btn-success btn-lg me-2" (click)="updateProfile()">Save Changes</button>
                  <button class="btn btn-secondary btn-lg" (click)="toggleEditMode()">Cancel</button>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>
  