<app-not-found
  [visible]="!food"
  notFoundMessage="Food Not Found"
  resetLinkText="Back To Homepage">
</app-not-found>
<div *ngIf="food" class="container">
    <img [src]="food.image" [alt]="food.nom"/>
  
    <div class="details">
      <div >
        <span class="name">
          {{food.nom}}
        </span>
  <!--<span class="favorite {{food.favorite? '': 'not'}}">❤</span>-->      
  <span >
   <!--
    <button class="favorite" title="Add to Favoris" (click)="addFavorite()">
      <i [ngClass]="{'fa-regular': !food.favorite, 'fa-solid': food.favorite, 'fa-heart': true, 'not': !food.favorite}"></i>
    </button>
   --> 

    <button class="favorite" title="Add to Favoris" (click)="addFavorite()">
      <i [ngClass]="{'fa-regular ': !isFavorite(), 'fa-solid': isFavorite(), 'fa-heart': true, 'not': !isFavorite()}"></i>
    </button>
   </span>
      </div>
      <div class="origins">
        <span *ngFor="let origin of food.ingredients">
          {{origin}}
        </span>
      </div>
  
      <div class="cook-time">
        <span>
          Time to cook about <strong>{{food.instructions}}</strong> minutes
        </span>
      </div>

    </div>
  </div>