<app-not-found
  [visible]="!food"
  notFoundMessage="Food Not Found"
  resetLinkText="Back To Homepage">
</app-not-found>
<div *ngIf="food" class="container">
    <img [src]="food.image" [alt]="food.nom"/>
  
    <div class="details">
      <div class="header">
        <span class="name">
          {{food.nom}}
        </span>
        <span class="favorite {{food.favorite? '': 'not'}}">❤</span>
      </div>
      <div class="origins">
        <span *ngFor="let origin of food.ingredients">
          {{origin}}
        </span>
      </div>
  
      <div class="cook-time">
        <span>
          Time to cook about <strong>{{food.instructions}}</strong> minutes
        </span>
      </div>

      
    <textarea [(ngModel)]="newComment" placeholder="Add a comment"></textarea>
    <button (click)="addComment()">Add Comment</button>

    
    <div *ngFor="let comment of food.comments">
      <p>{{ comment.user}} - {{ comment.date}}</p>
      <p>{{ comment.text }}</p>
    </div>
  </div>

    </div>
  