<div class="dashboard-container">
<header>
    <div class="container">

      <a routerLink="/" class="logo" >Glow Gourmet!</a>
      <nav>
        <ul>
          <li>
            <a [routerLink]="['/favoris']" class="overplay"   title="Add to Favoris"><i class="fa-regular fa-heart"></i></a>
          </li>
          <li>
            <a [routerLink]="['/profil']" class="overplay" ><i class="fas fa-user"></i></a>
          </li>
            <li>
            <a [routerLink]="['/log-in']">S'identifier</a>
            </li>
            <li routerLink="menu-container">
                <a [routerLink]="['/sign-up']">S'inscrire</a>
                <div class="menu">
                <a routerLink="/profile">Profile</a>
                <a>Logout</a>
                </div>
            </li>    
        </ul>
      </nav>
    </div>
</header>
</div>
<div class="glow-gourmet-container">
    <img class="glow-gourmet-image" src="assets\AdobeStock_299058891_Preview.jpeg" alt="Glow Gourmet Image" >
    <h1 class="glow-gourmet-title">Glow Gourmet!</h1>
   
  </div>
