ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li a{
    height: 22.5rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
li a img{
    object-fit: cover;
    height: 16rem;
}
.content{
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
}

.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
  }
  
  .favorite.not{
    color: rgb(255, 255, 255);
  }
  .product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .ingredients{
    flex: 9;
  }
  
  .ingredients span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.8rem;
    color: grey;
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
  }

  .preparation{
    position: absolute;
    left: 0.9rem;
    padding: 0.3rem 100% 0 0;
    color: #fdfdfd;
    margin-top: 2rem;
    font-size: 1.1rem;
  }