
<app-search></app-search>
<app-not-found
  [visible]="!foods || !foods.length"
  resetLinkText="Reset Search"
></app-not-found>
<ul>
  <li *ngFor="let food of foods | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
    <div class="content">
      <img [src]="food.image" [alt]="food.nom" [routerLink]="['/food', food._id]" />
      <div class="details">
        <button class="favorite" title="Add to Favoris" (click)="addFavorite(food)">
          <i [ngClass]="{'fa-regular ': !isFavorite(food), 'fa-solid': isFavorite(food), 'fa-heart': true, 'not': !isFavorite(food)}"></i>
      </button>
        <div class="name">{{food.nom}}</div>
      </div>
    </div>
  </li>
</ul>
<div class="d-flex justify-content-center">
  <pagination-controls (pageChange)="p = $event" class="pagination"  [directionLinks]="true" ></pagination-controls>
</div>
