ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li {
  height: 22.5rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

li:hover {
  opacity: 0.9;
  cursor: pointer;
}
.content {
  position: relative;
}

li img {
  object-fit: cover;
  height: 16rem;
  width: 100%; /* Remplir la largeur du conteneur */
}



.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #e72929;
  }
  
  .favorite.not{
    color: rgb(255, 255, 255);
  } 
  
  button{
    background: none;
    border: none;
  }
  .favorite.active {
    color: #fff; 
  }
  
  .details {
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
  }

  .name {
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
    padding: 0.5rem;
    text-align: center;
  }

  .product-item-footer {
    margin-top: 0.3rem;
  }
  .ingredients{
    flex: 9;
  }
  
  .ingredients span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.8rem;
    color: grey;
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
  }

  .preparation{
    position: absolute;
    left: 0.9rem;
    padding: 0.3rem 100% 0 0;
    color: #fdfdfd;
    margin-top: 2rem;
    font-size: 1.1rem;
  }

  ::ng-deep .pagination {
    justify-content: center;
    list-style-type: none;
    border-radius: 50%;
  }
  
  ::ng-deep .pagination li {
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
  }
  
  ::ng-deep .pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 50%;
    background-color: rgb(193, 193, 193);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  ::ng-deep .pagination li.active a {
    background-color: white;
    border-radius: 50%;
  }
  
  ::ng-deep .pagination a:hover {
    background-color: grey;
    color: #fff;
    border-radius: 50%;
  }

