<section>
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
          <div class="card card-registration my-4 bg-dark" style="border-radius: 15px; box-shadow: 0 0 10px rgba(0, 1, 2.5, 4);">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="../../../assets/food2.png" alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-white">
                  <h3 class="mb-5 text-uppercase">S'INSCRIRE</h3>
                  <form [formGroup]="myForm" (submit)="submitForm()">
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" formControlName="nom" class="form-control form-control-lg" required />
                          <label class="form-label" for="form3Example1m">Nom</label>
                          <div *ngIf="myForm.controls['nom'].invalid && (myForm.controls['nom'].dirty || myForm.controls['nom'].touched)"
                            class="text-danger">
                            Nom obligatoire
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" formControlName="email" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example8">Email</label>
                      <div *ngIf="myForm.controls['email'].invalid && (myForm.controls['email'].dirty || myForm.controls['email'].touched)"
                        class="text-danger">
                        <div *ngIf="myForm.controls['email']">L'e-mail doit être valide.</div>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password" formControlName="motdepasse" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example8">Mot de passe</label>
                      <div *ngIf="myForm.controls['motdepasse'].invalid && (myForm.controls['motdepasse'].dirty || myForm.controls['motdepasse'].touched)"
                        class="text-danger">
                        <div *ngIf="myForm.controls['motdepasse']">Mot de passe doit être valide (Minimum 8 caractères, Caractère majuscule, Caractère minuscule, Nombre et un Caractère speciale).</div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end pt-3">
                      <button class="btn btn-outline-light btn-lg px-5" type="submit">S'inscrire</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  